@import "../scss/utils/vars.scss";

.pictures-archive {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; // Espacio entre las imágenes
  font-family: $font;

  &__column {
    flex: 1; // Las columnas compartirán el espacio disponible
    display: flex;
    flex-direction: column;
    gap: 16px; // Espacio entre las imágenes en la misma columna

    picture {
      overflow: hidden;
      position: relative;
      break-inside: avoid; // Evita que las imágenes se quiebren en columnas
      cursor: pointer;

      &:hover {
        img {
          scale: 1.04;
        }
      }

      img {
        width: 100%;
        height: auto;
        display: block;
        user-select: none;
        transition: 0.5s;
      }
    }
  }

  &__overlay {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 1;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.605),
      rgba(0, 0, 0, 0.244)
    );
    transition: .5s;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0.388vw;
      max-width: 2.5vw;
      transition: 0.5s;
      user-select: none;
      z-index: 2;
    }

    span {
      position: absolute;
      bottom: 0.35vw;
      left: 0.998vw;
      color: white;
      font-weight: 600;
      transition: 0.5s;
      font-size: 0.666vw;
      line-height: 0.887vw;
    }
  }
}
